{% extends 'base.html' %}


{% block body_block %}     
     
         <h2 class="sub-header">新建SVN</h2>

 <form action="{% url 'createsvn' %}" method="post" class="definewidth m20">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">SVN名称</td>
        <td><input type="text" placeholder="SVN名称" name="svname"/></td>
    </tr>
   
 
  
  
   
 
 
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button>
        </td>
    </tr>
   
</table>
</form>
   
{% endblock %}
