
{% extends 'base.html' %}
{% load sadmin_extras %}

{% block body_block %}     
     
        

          <h2 class="sub-header">修改文件权限</h2>
         <form action="{% url 'setfile' %}" method="post" class="definewidth m20">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">用户名</td>
        <td><input type="text" placeholder="用户名" name="username"/></td>
    </tr>
    
 
   
   <tr>
        <td class="tableleft">文件夹</td>
        <td>
          {% for item in filelist %}
          <input name="filel" type="checkbox" value="{{ item.filename }}">{{ item.filename }}
          {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td class="tableleft">权限</td>
        <td>
		
		
            <select name="role">
			
                 {% for item in roles %}
                <option value="{{ item.id }}">{{ item.rolename }}</option>
                {% endfor %}
                           
        </select>
        
        
        </td>
    </tr>
   
 
 
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">设置</button>
        </td>
    </tr>
   
</table>
</form>
       
 
{% endblock %}
