
{% extends 'base.html' %}
{% load sadmin_extras %}

{% block body_block %}     
     
        

          <h2 class="sub-header">SVN列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>SVN名称</th>
                  <th>当前版本号</th>
                 
                  
                </tr>
              </thead>
              <tbody>
                {% for item in lPage %}
                  <tr>
                  <td> {{ item.sname }}</td>
                  
                  <td>
                    {% for i in item.svnversion_set.all %}
                        {{ i.version }}
                    {% endfor %}
                  </td>
                   
                  </tr>
                 
                 
                {% endfor %}
                   
                
         
              
              </tbody>
            </table>
          </div>
        <div>
             {% include "app01/paginator.html" %}
             
        </div>
      
 
{% endblock %}
