
{% extends 'base.html' %}


{% block body_block %}     
     
        

          <h2 class="sub-header">发布基于GIT tag</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>网站名称</th>
                  <th>当前tag</th>
                  <th>操作</th>
                  
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td>orange5s</td>
                  
                  <td>
                    V1.0
                  </td>
                  <td>查看|发布</td>
                  </tr>
                
         
              
              </tbody>
            </table>
          </div>
        <div>
             {% include "app01/paginator.html" %}
             
        </div>
      
 
{% endblock %}
